[submodule "opt/googletest"]
	path = opt/googletest
	url = https://github.com/sholsapp/googletest.git
	ignore = dirty
[submodule "opt/curl"]
	path = opt/curl
	url = https://github.com/sholsapp/curl.git
	ignore = all
