# Default gcc/g++ files
a.out

# Compiled Object files
*.slo
*.lo
*.o
sqlite3.so.*

# Compiled Dynamic libraries
*.so
*.dSYM

# Compiled Static libraries
*.lai
*.la
*.a

# VIM swaps
*.swp

# SQLite
*.db

# CMake
build
install
*.cmake
CMakeFiles
CMakeCache.txt
install_manifest.txt
Makefile
