# Default gcc/g++ files
a.out

# Compiled Object files
*.slo
*.lo
*.o
sqlite3.so.*

# Compiled Dynamic libraries
*.so
*.dSYM

# Compiled Static libraries
*.lai
*.la
*.a

# VIM swaps
*.swp

# SQLite
*.db

# CMake
build
install
*.cmake
CMakeFiles
CMakeCache.txt
install_manifest.txt
Makefile

*.tar.gz

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# SQLAlchemy
*.db

# VIM
*.swp
*.swo


# vinit
*/activate

cthulhu-fixture
